.git
.gitignore
README.md
docs/
tests/
test/
*.log
.env
__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
.venv
.idea
.vscode
*.tmp
*.temp
Dockerfile
docker-compose.yml
reLib.md
assets/
images/
output/
README.html
convention_validator.py
excel_compare.py
main.py
docker_pushing_steps.txt